<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

<!--    // BEANS IS NOTHING BUT THE OBJECT OF CLASS DEFINED XML FILE-->

<!--    DECLARE BEANS FOR BIKE CLASS-->
    <bean id="engine" class="inversionOfControl.Bike"> </bean>

<!--    DECLARE BEANS FOR CAR CLASS-->
    <bean id="engine1" class="inversionOfControl.Car"> </bean>

<!--    DECLARE BEANS FOR AEROPLACE CALSS-->
    <bean id="aeroplace" class="inversionOfControl.Aeroplane"></bean>
</beans>